# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
../Backend_Flask/.idea/
../Backend_Flask/.venv/
../Frontend_React/.idea/
../Frontend_React/node_modules/
